.header {
  background-color: #EEEFF1;
  padding-top: 79px;
  padding-bottom: 20px;

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 50px;
  }

  &__link {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;

  }

  &__link:hover,
  &__link:focus {
    text-decoration: underline;
  }

  &__link--active {

    color: #34547A;
    font-weight: 500;
  }

}




