.offer {
  padding-top: 141px;
  padding-bottom: 142px;
  background: #EEEFF1;

  &__title {
    font-size: 48px;
    color: #000000;
    font-weight: 500;
    margin: 0 0 60px;
  }

  &__description {
    max-width: 540px;
    margin: 0 0 65px;
  }

  .button {
    padding: 24px 53px;
    border: none;
    background: #34547A;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #7cb6ff;
    }


  }
}